{% from '_render_field.html' import render_field,render_radio %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
<html>
<title>
This is a basic form
</title>
<body>
<div class="container-fluid">
    <form action="" method="POST" >
    {{ form.csrf_token }}
    {{ render_field(form.email,placeholder=form.email.label.text) }}
    {{ render_field(form.password,placeholder=form.password.label.text) }}
    {{ render_field(form.textarea) }}
    {{ render_radio(form.radiofield) }}
    {{ render_field(form.selects) }}
    <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
	</form>
</div>
</body>
</html>


